<html lang="en">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>AI website</title>
</head>
<body>
    <nav id="navbar">

      <div id="logo">
        <img src="" alt="">
      </div>

      <ul>
        <li> <a href="">HOME</a> </li>
        <li> <a href="">ABOUT US</a> </li>
        <li> <a href="">CONTACT US</a> </li>
        
      </ul>
    </nav>

    <section id="home">
      <h1 class="h-primary"> Trip Explorer</h1>
      <label class="days">Days</label>
      <input type="number" id="days" name="days" placeholder="days">

      <label class="location">Location:</label>
      <input type="text" id="location" name="location" placeholder="City">

      <label class="budget">Budget:</label>
      <input type="number" id="budget" name="budget" placeholder="Rs">

      <h2> Acitivities </h2>
      <nav id="dropdown1">
     
     <ul class="dropdown">
      <li><a href="#">HERITAGE</a></li>
      <li><a href="#">LANDSCAPE/a></li>
      <li><a href="#">PILGRIMAGES</a></li>
      <li><a href="#">ADVENTURE</a></li>
      <li><a href="#">SIGHTSEEING</a></li>
      <li><a href="#">CULNARY</a></li>
      <li><a href="#">ARTA&SCI</a></li>
      <li><a href="#">SHOPPING</a></li>
     </ul>
    </nav>



    <form method="post">
      {% csrf_token %}  # Add CSRF token for security
      {{ form.as_p }}  # Render form fields using form.as_p
      <button type="submit" class="btn"> PLAN NOW</button>
    </form>
      
      #<button class="btn"> PLAN NOW</button>

    </section>


    
    
    
    

</body>
</html>